html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  min-height: 120px;
  background-color: #f5f5f5;
}

.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}

.container .credit {
  margin: 20px 0;
}

.center {
    text-align: center;
}

.titulo {
    font-size: 1.5em;
}